.top-container {
  background-color: #F1ECC3;
  padding-top: 50px;
  position: relative;
  margin-bottom: 40px;
}

.bottom-container {
  background-color: #F7E6AD;
  position: relative;
  padding: 10px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Sarabun', sans-serif;
}

h1 {
  color: #BB8760;
  font-size: 5.6rem;
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  line-height: 2rem;
}

h2 {
  color: #7D5A50;
  font-size: 2rem;
  font-family: 'DM Sans', sans-serif;
}

h3 {
  color: #BB8760;
  font-size: 2rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: normal;

}

a{
  color: #7D5A50;
}

.b-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.t-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.skill-row{
  width: 50%;
  margin: auto;
  text-align: left;
}

.comp{
  width: 25%;
  float: left;
  margin-right: 50px;
}

.skill-motor{
  width: 25%;
  float: right;
  margin-left: 50px;
}

hr{
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  border-color: #EAF6F6;
  padding-bottom: 50px;
}

.pro-desc{
  width: 30%;
  position: relative;
  margin:auto;
  padding-bottom: 50px;
}

.contact-me{
  width: 50%;
  position: relative;
  margin: auto;
  padding-bottom: 50px;
}

.footer-link{
  position: static;
  padding: 40px;
  font-weight: bold;
  text-decoration: none;
}

.footer-link:hover{
  color: white;
}

.redbutton {
   background: #F7E6AD;
   background-image: -webkit-linear-gradient(top, #F7E6AD, #F7E6AD);
   background-image: -moz-linear-gradient(top, #F7E6AD, #F7E6AD);
   background-image: -ms-linear-gradient(top, #F7E6AD, #F7E6AD);
   background-image: -o-linear-gradient(top, #F7E6AD, #F7E6AD);
   background-image: -webkit-gradient(to bottom, #F7E6AD, #F7E6AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 14px;
   line-height: 14px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   width: 185px;
   font-size: 20px;
   font-weight: 900;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 6px 0 #FFFFFF;
   -moz-box-shadow: 1px 1px 6px 0 #FFFFFF;
   box-shadow: 1px 1px 6px 0 #FFFFFF;
   text-shadow: 1px 1px 6px #000000;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.redbutton:hover {
   background: #F4CC2F;
   border: solid #FFAE00 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.cont-desc{
  position: relative;
  padding-bottom: 20px;
}

.c-footer{
  color: black;
}
